@use "global" as *;

.top-blog {
  position: relative;
  padding-top: rem(100);                   
}

.top-blog::before{
  @include mq("md") {
    background: url("../images/common/top-blog-bg.jpg");
    background-size: cover;    
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    content: "";
    width: 100%;
    height: 500px;
    display: block;
    top: 0;
    left: 0;
    right: 0;
  }
}

.top-blog__inner {
  position: relative;
}

.top-blog__inner::after {
  @include mq("md") {
    position: absolute;
    content: "";
    width: rem(431);
    height: rem(200);
    left: calc(53% - min(48vw, rem(650)));
    top: rem(-75);
    background: url(../images/common/top-blog-ashirai.svg) center center / contain no-repeat;
  }
}

.top-blog__title-wrap {
  text-align: center;
}

.top-blog__sub-title {
  margin-top: rem(12);
}

.top-blog__cards {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(87);
  }
}

.top-blog__button {
  text-align: center;
  margin-top: rem(37);
  @include mq("md") {
    margin-top: rem(80);
  }
}